body {
  background: #000;
}

li {
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}

.trajectory-mercury {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  width: 140px;
  height: 140px;
  margin: -70px 0 0 -70px;
  border: 2px dashed #333;
  border-radius: 50%;
  -webkit-transform-style: preserve-3d;
}

.trajectory-venus {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  width: 240px;
  height: 240px;
  margin: -120px 0 0 -120px;
  border: 2px dashed #333;
  border-radius: 50%;
  -webkit-transform-style: preserve-3d;
}

.trajectory-earth {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  width: 360px;
  height: 360px;
  margin: -180px 0 0 -180px;
  border: 2px dashed #333;
  border-radius: 50%;
  -webkit-transform-style: preserve-3d;
}

.trajectory-mars {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  width: 475px;
  height: 475px;
  margin: -237.5px 0 0 -237.5px;
  border: 2px dashed #333;
  border-radius: 50%;
  -webkit-transform-style: preserve-3d;
}

.trajectory-jupiter {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  width: 590px;
  height: 590px;
  margin: -295px 0 0 -295px;
  border: 2px dashed #333;
  border-radius: 50%;
  -webkit-transform-style: preserve-3d;
}

.trajectory-saturn {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  width: 790px;
  height: 790px;
  margin: -395px 0 0 -395px;
  border: 2px dashed #333;
  border-radius: 50%;
  -webkit-transform-style: preserve-3d;
}

.trajectory-uranus {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  width: 960px;
  height: 960px;
  margin: -480px 0 0 -480px;
  border: 2px dashed #333;
  border-radius: 50%;
  -webkit-transform-style: preserve-3d;
}

.trajectory-neptune {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  width: 1080px;
  height: 1080px;
  margin: -540px 0 0 -540px;
  border: 2px dashed #333;
  border-radius: 50%;
  -webkit-transform-style: preserve-3d;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1200px;
  height: 1200px;
  margin: -600px 0 0 -600px;
  -webkit-perspective: 2000px;
  -webkit-perspective-origin: center center;
  -webkit-transform-style: preserve-3d;
  -webkit-animation: z 55s infinite;
}

@-webkit-keyframes z {
  from {
    -webkit-transform: rotateX(0deg) scale(0) rotateY(0deg); 
  }

  20% {
    -webkit-transform: rotateX(70deg) scale(1) rotateY(0deg); 
  }

  30% {
    -webkit-transform: rotateX(140deg) scale(0.7) rotateY(0deg); 
  }

  40% {
    -webkit-transform: rotateX(70deg) scale(1) rotateY(0deg); 
  }

  50% {
    -webkit-transform: rotateX(20deg) scale(0.6) rotateY(60deg); 
  }

  60% {
    -webkit-transform: rotateX(20deg) scale(0.6) rotateY(-60deg); 
  }

  70% {
    -webkit-transform: rotateX(60deg) scale(0.6) rotateY(0deg); 
  }

   80% {
    -webkit-transform: rotateX(70deg) scale(0.6) rotateY(0deg); 
  }

  90% {
    -webkit-transform: rotateX(0deg) scale(0.6) rotateY(0deg); 
  }

  to {
    -webkit-transform: rotateX(0deg) scale(0) rotateY(0deg); 
  }
}

.sun {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  width: 70px;
  height: 70px;
  margin: -35px 0 0 -35px;
  -webkit-transform-style: preserve-3d;
  -webkit-animation: roundandround-sun 7.5s 4s infinite linear;
}

.sun>ul>li {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  opacity: 0.3;
  border-radius: 50%;
  background: linear-gradient(to top, #F78113, #FFD314);
  box-shadow: 0 0 30px rgba(255,255,255,0.8);
}

@-webkit-keyframes roundandround-sun {
  from {
    -webkit-transform: rotateY(0deg) translateX(0px) rotateX(90deg);
  }

  to {
    -webkit-transform: rotateY(360deg) translateX(0px) rotateX(90deg);
  }
}

.mercury {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
  -webkit-animation: roundandround-mercury 2.5s 4s infinite linear;
  -webkit-transform-style: preserve-3d;
}

.mercury>ul>li {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  margin: -50% 0 0 -50%;
  position: absolute;
  display: block;
  opacity: 0.3;
  border-radius: 50%;
  background: linear-gradient(to top, #9B4F0C, #5B2E07);
}

@-webkit-keyframes roundandround-mercury {
  from {
    -webkit-transform: rotate(0deg) translateY(70px) rotate(-360deg);
  }

  to {
    -webkit-transform: rotate(-360deg) translateY(70px) rotate(360deg);
  }
}

.venus {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  width: 50px;
  height: 50px;
  margin: -25px 0 0 -25px;
  -webkit-animation: roundandround-venus 3.5s 4s infinite linear;
  -webkit-transform-style: preserve-3d;
}

.venus>ul>li {
  background: linear-gradient(to top, #381D04, #5B4307);
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  margin: -50% 0 0 -50%;
  position: absolute;
  display: block;
  opacity: 0.3;
  border-radius: 50%;
}

@-webkit-keyframes roundandround-venus {
  from {
    -webkit-transform: rotate(0deg) translateY(120px);
  }

  to {
    -webkit-transform: rotate(-360deg) translateY(120px);
  }
}

.earth {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  -webkit-animation: roundandround-earth 7.5s 4s infinite linear;
  -webkit-transform-style: preserve-3d;
}

.earth>ul>li {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  margin: -50% 0 0 -50%;
  position: absolute;
  display: block;
  opacity: 0.3;
  border-radius: 50%;
  background: linear-gradient(to top, #10CE16, #0F07F2);
}

@-webkit-keyframes roundandround-earth {
  from {
    -webkit-transform: rotate(0deg) translateY(180px) rotate(-360deg);
  }

  to {
    -webkit-transform: rotate(-360deg) translateY(180px) rotate(360deg);
  }
}

.moon {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  width: 10px;
  height: 10px;
  margin: -5px 0 0 -5px;
  -webkit-animation: roundandround-moon 1.5s 4s infinite linear;
  -webkit-transform-style: preserve-3d;
}

.moon>ul>li {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  margin: -50% 0 0 -50%;
  position: absolute;
  display: block;
  opacity: 0.3;
  border-radius: 50%;
  background: linear-gradient(to top, #AFAFAF, #161616);
}

@-webkit-keyframes roundandround-moon {
  from {
    -webkit-transform: rotate(0deg) translateY(40px) rotate(-360deg);
  }

  to {
    -webkit-transform: rotate(-360deg) translateY(40px) rotate(360deg);
  }
}

.mars {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  width: 30px;
  height: 30px;
  margin: -15px 0 0 -15px;
  -webkit-animation: roundandround-mars 9.5s 4s infinite linear;
  -webkit-transform-style: preserve-3d;
}

.mars>ul>li {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  margin: -50% 0 0 -50%;
  position: absolute;
  display: block;
  opacity: 0.3;
  border-radius: 50%;
  background: linear-gradient(to top, #961606, #9B5D06);
}

@-webkit-keyframes roundandround-mars {
  from {
    -webkit-transform: rotate(0deg) translateY(240px) rotate(-360deg);
  }

  to {
    -webkit-transform: rotate(-360deg) translateY(240px) rotate(360deg);
  }
}

.jupiter {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  -webkit-animation: roundandround-jupiter 10s 4s infinite linear;
  -webkit-transform-style: preserve-3d;
}

.jupiter>ul>li {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  margin: -50% 0 0 -50%;
  position: absolute;
  display: block;
  opacity: 0.3;
  border-radius: 50%;
  background: linear-gradient(to top, #B7AEAA, #75260E);
}

@-webkit-keyframes roundandround-jupiter {
  from {
    -webkit-transform: rotate(0deg) translateY(300px) rotate(-360deg);
  }

  to {
    -webkit-transform: rotate(-360deg) translateY(300px) rotate(360deg);
  }
}

.saturn {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  -webkit-animation: roundandround-saturn 13.5s 4s infinite linear;
  -webkit-transform-style: preserve-3d;
}

.saturn>ul>li {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  margin: -50% 0 0 -50%;
  position: absolute;
  display: block;
  opacity: 0.3;
  border-radius: 50%;
  background: linear-gradient(to top, #A35151, #513328);
}

@-webkit-keyframes roundandround-saturn {
  from {
    -webkit-transform: rotate(0deg) translateY(400px) rotate(-360deg);
  }

  to {
    -webkit-transform: rotate(-360deg) translateY(400px) rotate(360deg);
  }
}

.saturn-ring {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  width: 80px;
  height: 80px;
  margin: -40px 0 0 -40px;
  -webkit-animation: roundandround-rr 13.5s 4s infinite linear;
  -webkit-transform-style: preserve-3d;
}

.saturn-ring>ul>li {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  margin: -50% 0 0 -50%;
  position: absolute;
  display: block;
  opacity: 0.3;
  border: 2px solid;
  border-radius: 50%;
}

@-webkit-keyframes roundandround-rr {
  from {
    -webkit-transform: rotate(0deg) translateY(400px) rotate(-360deg);
  }

  to {
    -webkit-transform: rotate(-360deg) translateY(400px) rotate(360deg);
  }
}

.uranus {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  width: 30px;
  height: 30px;
  margin: -15px 0 0 -15px;
  -webkit-animation: roundandround-uranus 15s 4s infinite linear;
  -webkit-transform-style: preserve-3d;
}

.uranus>ul>li {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  margin: -50% 0 0 -50%;
  position: absolute;
  display: block;
  opacity: 0.3;
  border-radius: 50%;
  background: linear-gradient(to top, #07A5F9, #073BF7);
}

@-webkit-keyframes roundandround-uranus {
  from {
    -webkit-transform: rotate(0deg) translateY(480px) rotate(-360deg);
  }

  to {
    -webkit-transform: rotate(-360deg) translateY(480px) rotate(360deg);
  }
}

.neptune {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  width: 30px;
  height: 30px;
  margin: -15px 0 0 -15px;
  -webkit-animation: roundandround-neptune 20s 4s infinite linear;
  -webkit-transform-style: preserve-3d; 
}

.neptune>ul>li {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  margin: -50% 0 0 -50%;
  position: absolute;
  display: block;
  opacity: 0.3;
  border-radius: 50%;
  background: linear-gradient(to top, #0B07FC, #030A70);
}

@-webkit-keyframes roundandround-neptune {
  from {
    -webkit-transform: rotate(0deg) translateY(540px) rotate(-360deg);
  }

  to {
    -webkit-transform: rotate(-360deg) translateY(540px) rotate(360deg);
  }
}

.sr:nth-child(1) {
  -webkit-transform: scale(1);
  color: #cdaf95;
}
.sr:nth-child(2) {
  -webkit-transform: scale(1.02);
  color: #eecbad;
}
.sr:nth-child(3) {
  -webkit-transform: scale(1.03);
  color:  #8b7765;
}
.sr:nth-child(4) {
  -webkit-transform: scale(1.04);
  color:  #eecbad;
}
.sr:nth-child(5) {
  -webkit-transform: scale(1.05);
  color: #ffb90f;
}
.sr:nth-child(6) {
  -webkit-transform: scale(1.06);
  color: #cd950c;
}
.sr:nth-child(7) {
  -webkit-transform: scale(1.07);
  color: #8b6508;
}
.sr:nth-child(8) {
  -webkit-transform: scale(1.08);
  color: #8b6508;
}
.sr:nth-child(9) {
  -webkit-transform: scale(1.09);
  color: #8b7e66;
}
.sr:nth-child(10) {
  -webkit-transform: scale(1.1);
  color: #8b7e66;
}
.sr:nth-child(11) {
  -webkit-transform: scale(1.11);
  color: #eecfa0;
}
.sr:nth-child(12) {
  -webkit-transform: scale(1.12);
  color: #eecfa0;
}

.ring:nth-child(1) {
  -webkit-transform: rotateY(0deg);
}
.ring:nth-child(2) {
  -webkit-transform: rotateY(10deg);
}
.ring:nth-child(3) {
  -webkit-transform: rotateY(20deg);
}
.ring:nth-child(4) {
  -webkit-transform: rotateY(30deg);
}
.ring:nth-child(5) {;
  -webkit-transform: rotateY(40deg);
}
.ring:nth-child(6) {
  -webkit-transform: rotateY(50deg);
}
.ring:nth-child(7) {
  -webkit-transform: rotateY(60deg);
}
.ring:nth-child(8) {
  -webkit-transform: rotateY(70deg);
}
.ring:nth-child(9) {
  -webkit-transform: rotateY(80deg);
}
.ring:nth-child(10) {
  -webkit-transform: rotateY(90deg);
}
.ring:nth-child(11) {
  -webkit-transform: rotateY(100deg);
}
.ring:nth-child(12) {
  -webkit-transform: rotateY(110deg);
}
.ring:nth-child(13) {
  -webkit-transform: rotateY(120deg);
}
.ring:nth-child(14) {
  -webkit-transform: rotateY(130deg);
}
.ring:nth-child(15) {
  -webkit-transform: rotateY(140deg);
}
.ring:nth-child(16) {
  -webkit-transform: rotateY(150deg);
}
.ring:nth-child(17) {
  -webkit-transform: rotateY(160deg);
}
.ring:nth-child(18) {
  -webkit-transform: rotateY(170deg);
}

